.background
{
    
    background-color: #ede1cd;
    
}

.navbar
{
    
    direction: rtl;
    
}

.nav-container-alignment#
{
    
    margin: auto;
    
}

.title-cover
{
    
    font-family: 'Pacifico', 'cursive';
    display: inline-block;
    background: rgb(246,191,159);
    background: linear-gradient(0deg, rgba(246,191,159,1) 0%, rgba(219,138,222,1) 100%);
    font-size:   calc(14px + (170 - 14) * ((50vw - 250px) / (1920 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((50vw - 250px)/(1920 - 300)));
   /* font-stretch: ultra-expanded;*/
    /*width: 100%;
        font-size: 15vw;
        text-align: center;
        top:50%;
    */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
 
